= render 'form'

%ul.comments{data: {bind: 'foreach: comments'}}
  %li.comment
    %small.comment__name{data: {bind: 'text: name'}}
    %small.comment__created-at{data: {bind: 'text: created_at'}}
    .comment__content{data: {bind: 'text: content'}}

:coffee
  $ ->
    KC_COMMENT.applyBindings("#{Pusher.key}", #{@comments.map{|c| {id: c.id, name: c.name, content: c.content, created_at: l(c.created_at)}}.to_json})
